<a href="https://colab.research.google.com/github/KarinaRmzG/Inmersion-de-datos-con-Python/blob/main/INMERSION_DATOS_AULA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Clase 2**

*Tratamiento de Datos y Primeros Gráficos*

In [2]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

inmuebles = pd.read_csv('/content/drive/MyDrive/Curso Python/inmuebles_bogota.csv') 
inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [5]:
inmuebles.sample(5) #Toma de muiestra de 5 elementos

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
7596,Casa,Casa en venta en Engativa,5,3,100,Engativa,Engativá,$ 395.000.000
5529,Apartamento,Apartamento en venta en Chapinero,4,6,515,Chapinero,CHAPINERO: Pardo Rubio + Chapinero,$ 1.400.000.000
2984,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,80,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 385.000.000
2384,Casa,Casa en venta en Teusaquillo,6,5,3500,Teusaquillo,Teusaquillo,$ 5.500.000.000
7188,Apartamento,Apartamento en venta en Puente Largo,2,2,81,Puente Largo,La Alhambra,$ 408.000.000

In [6]:
inmuebles.info() #Que hay en el dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Baños         9520 non-null   int64
 4   Área          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB

In [7]:
type(inmuebles.Valor[0])#primer valor

str

In [8]:
inmuebles.Valor[0]+inmuebles.Valor[1]+inmuebles.Valor[:5] #suma de 2 strings

0      $ 360.000.000$ 670.000.000$ 360.000.000
1      $ 360.000.000$ 670.000.000$ 670.000.000
2    $ 360.000.000$ 670.000.000$ 1.120.000.000
3      $ 360.000.000$ 670.000.000$ 890.000.000
4      $ 360.000.000$ 670.000.000$ 970.000.000
Name: Valor, dtype: object

In [ ]:
inmuebles.Valor[0].split()

In [ ]:
valor = inmuebles.Valor.str.split(expand=True)
inmuebles['Moneda'] = valor[0]
inmuebles['Precio'] = valor[1]
inmuebles.sample(3)

In [ ]:
inmuebles.info()

In [ ]:
inmuebles['Precio'].sum()

In [ ]:
inmuebles['Precio'] = inmuebles['Precio'].str.replace('.','',regex=True)

In [ ]:
inmuebles[['Precio','Barrio']]

In [ ]:
inmuebles.info()

In [ ]:
inmuebles['Precio_Millon'] = inmuebles.Precio.astype('float')/1000000
inmuebles.info()

In [ ]:
inmuebles.describe()

In [ ]:
pd.set_option('display.precision',2)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
inmuebles.describe()

In [ ]:
inmuebles.loc[inmuebles.Habitaciones == 110]

In [ ]:
inmuebles.loc[inmuebles.Area == 2]

In [ ]:
inmuebles['Precio_Millon'].plot.hist(bins=10)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10,6))
grafica = sns.histplot(data=inmuebles, x='Precio_Millon', kde=True, hue='Tipo')
grafica.set_title('Distribución de Valores de los inmuebles en Bogotá')
plt.xlim((50,1000))
plt.savefig('/content/drive/MyDrive/inmersion_datos/valor_inmuebles.png',format='png')
plt.show()

**Desafíos**

1. Estudiar mejor el histograma de valores, seleccionar 3 tipos de inmuebles (Refinar el gráfico: Títulos, aumentar el tamaño de labels, colores, conclusión de la información)

2. Precio del m2 por barrio y hacer el gráfico más adecuado para esta nueva variable.